@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.container-banner {
  @apply max-w-[1290px] px-10 my-0 mx-auto
}

.btn {
  @apply py-3 px-8 rounded-md bg-btnColor text-[#fff] text-center font-bold border-none cursor-pointer hover:bg-darkBlue transition-all ease-linear
}
.products_block {
  @apply bg-[#ffff] rounded-md border-lightGary px-4 py-4 flex flex-col h-[500px]  justify-between gap-3 hover:shadow-2xl transition-all
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.swiper-button-prev, .swiper-button-next {
  background-color: #F1F2F64D;
  font-size: 18px;
  padding: 20px;
}

.swiper-button-prev:root,
.swiper-button-next:root {
  font-size: 30px;
}

.newsSlider .swiper-button-prev, 
.newsSlider .swiper-button-next {
  top: var(--swiper-navigation-top-offset, 31%);
}

:root {
  --swiper-navigation-size: 30px !important;
  color: #4798DE !important;
}

@media screen and (max-width: 780px) {
    .flex-container {
      flex-direction: column;
      margin-bottom: 10px;
    }
}